# Ignore virtual environments
.dmvenv/
venv/

# Byte-compiled / cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

*.env
__pycache__/
*.egg-info/
